PORT=4000
NODE_ENV=development

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wms_db?schema=public"

# JWT Authentication
JWT_SECRET="super-secret-jwt-key-wms-2026"
JWT_EXPIRES_IN="1d"

# CORS Origin
CORS_ORIGIN="http://localhost:5173"
